{% extends 'polls/base.html' %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h2>List of Polls</h2>
    </div>

    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <div class="content-block">
                <div><h2><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></h2></div>
                <div>Total votes: {{ question.total_votes }} </div>
                <div>Publication date: {{ question.pub_date }}</div>
            </div>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'polls:new_question' %}" class="top-menu">+ New Question</a>
    {% endif %}
{% endblock %}
    