{% extends 'blog/base.html' %}

{% block content %}
    <div class="page-header">
        <h2>List of Posts</h2>
    </div>

    {% if post_list %}
        {% for post in post_list %}
            <div class="content-block">
                <div>
                    <h3><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h3>
                </div>
                <div>
                    <div>
                        <p>{{ post.text }}</p>
                    </div>
                    <div>
                        Publication Date: {{ post.published_date }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No posts are available.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'blog:new_post' %}" class="top-menu">+ New Post</a>
    {% endif %}
{% endblock %}