<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

        {% load static %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

        <title>
            {% block title %}
                Tom's amazing site
            {% endblock %}
        </title>
    </head>
    <body>

        {# SIDE-NAVIGATION-BAR #}
        <div class="side-bar-outer">
            {% block side-nav-bar %}
                {% include 'main/side-nav-bar.html' %}
            {% endblock %}
        </div>

        {# HEADER #}
        <div class="header-outer">
            {% block header %}
                {% include 'main/header.html' %}
            {% endblock %}
        </div>

        <div class="content-outer">

            {# SIDE-NAVIGATION-LINKS #}
            {% block side-nav-links %}
                {% include 'main/side-nav-links.html' %}
            {% endblock %}

            <div class="content">

                {# CONTENT #}
                {% block main-content %}
                {% endblock %}
            </div>
        </div>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>