<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

        <title>
            {% block title %}
                Tom's amazing site
            {% endblock %}
        </title>
    </head>
    <body>

        {# SIDE-NAVIGATION-BAR #}
        <div class="side-nav-bar" style="height: 100%; width: 5%; float: left; background-color: mediumpurple">
            {% block side-nav-bar %}
            {% endblock %}
        </div>

        <div style="overflow: auto">

            {# HEADER #}
            <div class="header" style="margin: 0px 20px; padding: 20px 0px; border-bottom: lightgrey 1px solid">
                {% block header %}
                    <h1>Woahhh! Radical website dude!</h1>
                {% endblock %}
            </div>

            {# SIDE-NAVIGATION-LINKS #}
            <div class="side-nav-links" style="width: 10%; float: left; margin: 20px 0px; padding: 0px 20px; border-right: lightgrey 1px solid">
                {% block side-nav-links %}
                <ul>
                    <li>
                        <h2>
                            <a href="{% url 'main:index' %}">Main</a>
                        </h2>
                    </li>
                    <li>
                        <h2>
                            <a href="{% url 'blog:index' %}">Blog</a>
                        </h2>
                    </li>
                    <li>
                        <h2>
                            <a href="{% url 'polls:index' %}">Polls</a>
                        </h2>
                    </li>
                </ul>
                {% endblock %}
            </div>

            <div class="content" style="overflow: auto; padding: 20px">

                {# CONTENT #}
                {% block main-content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>